<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>servlets.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchSubmit</servlet-name>
        <servlet-class>servlets.SearchSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSubmit</servlet-name>
        <url-pattern>/search_submit</url-pattern>
    </servlet-mapping>


    <welcome-file-list>

        <welcome-file>index.jsp</welcome-file>
        <welcome-file>test.jsp</welcome-file>
        <welcome-file>search_submit.jsp</welcome-file>

    </welcome-file-list>
</web-app>